:host {
    .layout-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        span {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--color-grey-800);
        }
    }

    .mobile-visible-none {
        display: block;
    }

    .mobile-visible {
        display: none;
    }

    .layout-photo-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-300);
        border-radius: 100%;

        .layout-photo-person-label {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                color: #3B82F6;
                cursor: pointer;
            }

            input[type="file"] {
                display: none;
            }
        }
    }

    .layout-file {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-300);
        justify-content: center;
        align-items: center;
        border-radius: 6px;

        .layout-file-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;

            .p-image-preview {
                display: flex;
                justify-content: center;
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 10px 0;
            border-radius: 0 0 6px 6px;
            background: #3B82F6;
            color: #FFF;
            cursor: pointer;

            span {
                display: flex;
            }
        }

        button {
            display: flex;
            justify-content: center;
            gap: 6px;
            width: 100px;
            padding: 10px 0;
            border-radius: 0 0 6px 6px;

            span {
                display: flex;
            }
        }
    }

    ::ng-deep {
        .p-inputgroup .p-inputtext,
        .p-fluid .p-inputgroup .p-inputtext,
        .p-inputgroup .p-inputwrapper,
        .p-inputgroup .p-inputwrapper>.p-component {
            flex: 1 1 auto;
            width: 100%;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .p-button.p-button-icon-only {
            padding: 0.5rem 0;
        }

        .p-fileupload .p-button {
            border-radius: 0 0 6px 6px;
        }
    }

    @media (max-width: 991px) {
        .mobile-visible-none {
            display: none !important;
        }

        .mobile-visible {
            display: block;
        }

        .layout-file {
            .layout-file-img {
                width: 62px;
                height: 62px;

                .p-image-preview {
                    width: 62px;
                    height: 62px;
                    object-fit: cover;
                }
            }

            label {
                padding: 5px 0px;
                width: 62px;
                height: 38px;
                border-radius: 0 0 6px 6px;
                cursor: pointer;

                span {
                    display: none;
                }
            }

            button {
                width: 62px;
                border-radius: 0 0 6px 6px;

                span {
                    display: none;
                }
            }
        }

    }



}