
<p-button icon="pi pi-download" [outlined]="true" label="Importar" severity="warn" (onClick)="showDialogFilterClientCompany()" />
<!-- Filter ClientCompany -->
<p-dialog [(visible)]="dialogVisibleClientCompany" header="Importar cliente do sistema Apollo" [modal]="true" [maximizable]="true" [style]="{ width: '70rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="formClientCompanyFilter" (ngSubmit)="filterClientCompany()">
        <div class="grid grid-cols-12 gap-4">

            <div class="col-span-12 md:col-span-2">
                <label for="buscarClientCompanyId">Código</label>
                <p-inputNumber mode="decimal" inputId="buscarClientCompanyId" [useGrouping]="false"
                    formControlName="clientCompanyId" fluid/>
            </div>
            <div class="col-span-12 md:col-span-3">
                <label for="buscarClientCompanyFantasia">Fantasia</label>
                <input pInputText id="buscarClientCompanyFantasia" class="w-full" type="text"
                    formControlName="clientCompanyFantasia" />
            </div>
            <div class="col-span-12 md:col-span-7">
                <label for="buscarClientCompanyNome">Nome</label>
                <input pInputText id="buscarClientCompanyNome" class="w-full" type="text" formControlName="clientCompanyName" />
            </div>

            <div class="col-span-12 md:col-span-3">
                <label for="clientCompanyCnpj">CNPJ</label>
                <p-inputMask id="clientCompanyCnpj" mask="99.999.999/9999-99" [unmask]="true" formControlName="clientCompanyCnpj" fluid/>
            </div>
            <div class="col-span-12 md:col-span-3">
                <label for="clientCompanyCpf">CPF</label>
                <p-inputMask id="clientCompanyCpf" mask="999.999.999-99" [unmask]="true" formControlName="clientCompanyCpf" fluid/>
            </div>
            <div class="col-span-12 md:col-span-4">
                <div class="flex flex-col gap-2 p-2">
                    <label for="">Tipo</label>
                    <div class="flex gap-2">
                        <div>
                            <p-radioButton inputId="pj" value="j" formControlName="clientCompanyTipo"></p-radioButton>
                            <label for="pj" class="ml-2">P/Juridica</label>
                        </div>
                        <div>
                            <p-radioButton inputId="pf" value="f" formControlName="clientCompanyTipo"></p-radioButton>
                            <label for="pf" class="ml-2">P/Física</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-span-12 md:col-span-4 mb-4">
                <div class="flex gap-2">
                    <button pButton type="submit" label="Pesquisar" class="p-button-warning w-full" icon="pi pi-search"></button>
                    <button pButton type="button" label="Limpar" class="p-button-danger w-full" icon="pi pi-times" (click)="cleanAll()"></button>
                </div>
                
            </div>
        </div>
    </form>
    <p-table #tableFilter dataKey="id" [value]="dialogListClientCompany()" selectionMode="single"
        [(selection)]="dialogSelectClientCompany" [globalFilterFields]="['id', 'name','cnpj','cpf']" [paginator]="true"
        [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
        [tableStyle]="{ 'min-width': '50rem','min-height': '20rem' }" size="small">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="tableFilter.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" >Código<p-sortIcon field="id" /></th>
                <th pSortableColumn="name" >Nome<p-sortIcon field="name" /></th>
                <th pSortableColumn="cnpj" >CNPJ<p-sortIcon field="cnpj" /></th>
                <th pSortableColumn="cpf" >CPF<p-sortIcon field="cpf" /></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clientcompany>
            <tr [pSelectableRow]="clientcompany">
                <td [ngClass]="{'text-red-300':clientcompany.status == disabled}">{{clientcompany.id}}</td>
                <td [ngClass]="{'text-red-300':clientcompany.status == disabled}">{{clientcompany.name | uppercase}}</td>
                <td [ngClass]="{'text-red-300':clientcompany.status == disabled}">{{maskCNPJ(clientcompany.cnpj)}}</td>
                <td [ngClass]="{'text-red-300':clientcompany.status == disabled}">{{maskCPF(clientcompany.cpf)}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex flex-col items-center w-full border-b border-surface-200 dark:border-surface-700"></div>
    <div class="flex justify-end gap-2 mt-4">
        <button pButton type="button" pRipple label="Fechar" icon="pi pi-times" class="p-button-text" (click)="hideDialogFilterClientCompany()"></button>
        <button pButton type="submit" pRipple label="Importar" icon="pi pi-download" class="p-button-text" (click)="selectClientCompany()"></button>
    </div>
</p-dialog>