:host {
  .layout-card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    span {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--color-grey-800);
    }
  }

  .part-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 140px;
    background-color: var(--color-grey-200);
    border-radius: 6px;

    img {
      width: 110px;
      height: 110px;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  @media (max-width: 991px) {
    .part-img {
      width: 140px;
      height: 100px;
      img {
        width: 80px;
        height: 80px;

      }
    }
  }

}