<div class="layout-card">
    <!-- Info -->
    <p-toast />
    <div class="layout-card-title">
        <span>Módulo Portaria</span>
    </div>
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Checklist Entrada</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <form [formGroup]="formChecklist">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 1 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox inputId="id1" value="yes" formControlName="checklist1Enabled" />
                            <input pInputText formControlName="checklist1Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 2 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox value="yes" formControlName="checklist2Enabled" />
                            <input pInputText formControlName="checklist2Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 3 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox value="yes" formControlName="checklist3Enabled" />
                            <input pInputText formControlName="checklist3Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 4 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist4Enabled" />
                            <input pInputText formControlName="checklist4Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 5 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist5Enabled" />
                            <input pInputText formControlName="checklist5Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 6 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist6Enabled" />
                            <input pInputText formControlName="checklist6Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 7 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist7Enabled" />
                            <input pInputText formControlName="checklist7Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 8 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist8Enabled" />
                            <input pInputText formControlName="checklist8Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 9 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist9Enabled" />
                            <input pInputText formControlName="checklist9Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 10 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist10Enabled" />
                            <input pInputText formControlName="checklist10Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 11 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist11Enabled" />
                            <input pInputText formControlName="checklist11Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 12 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist12Enabled" />
                            <input pInputText formControlName="checklist12Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 13 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist13Enabled" />
                            <input pInputText formControlName="checklist13Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 14 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist14Enabled" />
                            <input pInputText formControlName="checklist14Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 15 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist15Enabled" />
                            <input pInputText formControlName="checklist15Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 16 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist16Enabled" />
                            <input pInputText formControlName="checklist16Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 17 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist17Enabled" />
                            <input pInputText formControlName="checklist17Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 18 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist18Enabled" />
                            <input pInputText formControlName="checklist18Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 19 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist19Enabled" />
                            <input pInputText formControlName="checklist19Desc" />
                        </div>
                    </div>
                    <div class="col-span-12 md:col-span-2">
                        <label for="coneid">CheckLIst 20 - Descrição</label>
                        <div class="flex gap-2">
                            <p-checkbox [value]="yes" formControlName="checklist20Enabled" />
                            <input pInputText formControlName="checklist20Desc" />
                        </div>
                    </div>
                </div>
            </form>
            </p-tabpanel>
        </p-tabpanels>
        <p-button label="Salvar" (onClick)="save()" />
    </p-tabs>
</div>